@model HomePageViewModel
@section meta {
    <title>Foca Fresco</title>
    <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
    <meta name="keywords" content="Lorem,ipsum,dolor,sit,amet">
    <meta name="author" content="Foca Fresco">
}
<section class="teaser">
    <div class="wrapper">
        <section class="teaser-products">

            @for (int i = 0; i < Model.Products.Count; i++)
            {
                <div class="row">
                    @await Html.PartialAsync("_ProductHomeItem", Model.Products[i++])
                    @if (i < Model.Products.Count)
                    {
                        @await Html.PartialAsync("_ProductHomeItem", Model.Products[i++])
                    }
                    @if (i < Model.Products.Count)
                    {
                        @await Html.PartialAsync("_ProductHomeItem", Model.Products[i])
                    }
                </div>
            }
        </section>
    </div>
</section>
<section class="about">
    <div class="wrapper">
        <h1>Foca fresco:</h1>
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
            voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
            labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
            commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
            voluptas nulla pariatur?
        </p>
    </div>
</section>
<section class="blog-posts">
    <div class="wrapper">
        <h2 class="blog-posts-heading">Последни публикации от блога:</h2>
        @for (int i = 0; i < Model.BlogPosts.Count; i++)
        {
            Model.BlogPosts[i].PositionClass = i % 2 == 0 ? "" : "left-aligned";
            @await Html.PartialAsync("_BlogPostListItemPartial", Model.BlogPosts[i])
        }
    </div>
</section>