@model ParagraphViewModel
@{
    Layout = null;
}
<div class="blog-post-paragrpaph @Model.CssClassList">
    <div class="blog-post-image">
        <img src="@Model.Image.RelativePath" alt="@Model.Image.Name" />
    </div>
</div>