@model ProductViewModel
@section Meta{
    <title>@Model.Name</title>
    <meta name="description" content="@Model.MetaDescription">
    <meta name="keywords" content="@Model.MetaKeywords">
    <meta name="author" content="Foca Fresco">
}

<h2>@Model.Name</h2>

