@model IList<ProductCategoryViewModel>
@section Meta{
    <title>Продукти</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
}

<h2>Index</h2>



