<footer>
  <ul>
    <li>Footer here</li>
    <li>Footer here</li>
    <li>Footer here</li>
    <li>Footer here</li>
    <li>Footer here</li>
    <li>Footer here</li>
    <li>Footer here</li>
    <li>Footer here</li>
    <li>Footer here</li>
  </ul>
</footer>