<ul class="nav navbar-nav">
    <nav-link asp-controller="Home" asp-action="Index" class="nav-link">Начало</nav-link>
    <nav-link asp-controller="Products" asp-action="Index" class="nav-link">Продукти</nav-link>
    <nav-link asp-controller="Blog" asp-action="Index" class="nav-link">Блог</nav-link>
    <nav-link asp-controller="Home" asp-action="About" class="nav-link">За нас</nav-link>
    <nav-link asp-controller="Home" asp-action="Contact" class="nav-link">Контакти</nav-link>
    @if (ViewBag.IsAdmin != null && (bool)ViewBag.IsAdmin == true)
    {
        <li><a asp-area="Admin" asp-controller="Home" asp-action="Index">Админ</a></li>
    }
</ul>
@await Html.PartialAsync("_LoginPartial")