.teaser {
  background: url('../resources/images/teaserBg.png') #ead4c2; 
  height: 500px;
  animation: animatedBackground 120s linear infinite;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: -100% 0; }
}