@import '_vars.less';

/* Teaser section START */
.teaser {
  background: url('../resources/images/teaserBg.png') #ead4c2;
  height: 500px;
  animation: animatedBackground 120s linear infinite;

  .teaser-products {
    display: block;
    padding: 18px 0;
    box-sizing: border-box;
    background-size: 50%;

    .row {
      display: flex;
      justify-content: center;

      &:nth-child(2) {
        margin-top: -120px;
      }

      .product {
        position: relative;
        margin: 0 15px;

        .product-preview {
          display: none;
          position: absolute;
          top: -20px;
          left: -20px;
          padding: 20px;
          background: url('../resources/images/teaserProductBg.png') #d94854;
          box-shadow: @teaserProductHover;
          z-index: 10;
          cursor: pointer;
          animation: fadeInFromNone 0.5s ease-out;
          border-radius: 10px;

          h3,
          p {
            font-size: 24px;
            text-align: center;
            color: white;
          }

          p {
            font-size: 14px;
          }
        }

        &.hovered {
          .product-preview {
            display: block;

            a:nth-of-type(1) {
              margin: 10px 0 5px 0;
            }
          }
        }
      }
    }
  }
}
/* Teaser section END */

/* About section START */
.about { 
  margin-top: 30px;

  p {
    text-align: center
  }
}
/* About section END */

/* Blogpost section START */
.blog-posts {
  .blog-posts-heading {
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
  }

  article {
    margin-top: 30px;
    height: 340px;
    box-sizing: border-box;

    .image {
      position: relative;
      float: left;
      width: 600px;
      height: 100%;
      overflow: hidden;

      img {
        position: absolute;
        width: 110%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      float: right;
      padding: 30px;
      width: 600px;
      height: 100%;
      box-sizing: border-box;
      border: 1px solid #382b27;
      border-left: 0px;

      h2 {
        font-size: 30px;
      }

      .button {
        background-color: #d94854;
        width: 50%;
        
        &:hover {
          background-color: #d86a73;
        }
      }
    }
    &.left-aligned {
      .image {
        float: right;
      }
    
      .content {
        float: left;
        border: 0;
        border: 1px solid #382b27;
        border-right: 0;

        h2,
        p {
          text-align: right;
        }
        
        .button {
          margin-left: auto;
        }
      }
    }
  }
}
/* Blogpost section END */
@keyframes fadeInFromNone {
  0% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: -100% 0; }
}