@model ProductEditViewModel
@{
    ViewBag.Title = $"Edit {Model.Name}";
    var categories = ViewBag.Categories as IEnumerable<SelectListItem>;
}

<section>
    <header>
        <h2>Edit @Model.Name</h2>
    </header>
    <div class="inner-content">
        <form class="inner-content" method="post" asp-area="Admin" asp-controller="Products" asp-action="Create" asp-antiforgery="true">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group row">
                        <label asp-for="Name" class="col-4 col-form-label required"></label>
                        <div class="col-8">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Price" class="col-4 col-form-label required"></label>
                        <div class="col-8">
                            <input asp-for="Price" type="number" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Type" class="col-4 col-form-label required"></label>
                        <div class="col-8">
                            <select asp-for="Type" asp-items="Html.GetEnumSelectList<ProductType>()" type="number" class="form-control"></select>
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="CategoryId" class="col-4 col-form-label required"></label>
                        <div class="col-8">
                            <select asp-for="CategoryId" asp-items="categories" type="number" class="form-control"></select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}