@model IEnumerable<ProductListViewModel>
@{
    ViewBag.Title = "Продукти";
}
<header class="list-header">
    <h2 class="d-inline-block">Продукти</h2>
    <div class="btn-group pull-right" role="group" aria-label="Actions">
        <a class="btn btn-secondary" asp-area="Admin" asp-action="Create" asp-controller="Products" title="Нов Продукт"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
</header>
@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Name).Titled("Име").InitialSort(GridSortOrder.Asc).RenderedAs(model => Html.ActionLink(model.Name, "Edit", "Products", new { id = model.Id }));
        columns.Add(model => model.Price).Titled("Цена");
        columns.Add(model => model.CategoryName).Titled("Категория");
        columns.Add(model => model.Type).Titled("Тип");
        columns.Add(model => model.Created).Titled("Създаден").Filterable(false); ;
        columns.Add(model => model.Modified).Titled("Модифициран").Filterable(false);
        columns.Add(model => model.OrderedCount).Titled("Поръчани бройки").Filterable(false); ;
        columns.Add(model => model.ShowOnHomePage).Titled("Акцентиран");
    })
    .Filterable()
    .Sortable()
    .Pageable(p => { p.RowsPerPage = 25; })
    .Empty("Няма намерени продукти!")
)