<nav class="navbar navbar-expand-md navbar-custom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav text-md-center nav-justified w-100">
            <li class="nav-item" asp-is-active-link asp-controller="Home">
                <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <i class="fa fa-home" aria-hidden="true"></i> Начало
                </a>
            </li>
            @*<li class="nav-item" asp-is-active-link asp-controller="Quotes">
                <a class="nav-link" asp-is-active-link asp-area="Admin" asp-controller="Quotes" asp-action="Index">
                    <i class="fa fa-list" aria-hidden="true"></i> Заявки
                </a>
            </li>*@
            <li class="nav-item" asp-is-active-link asp-controller="Quotes">
                <a class="nav-link" asp-is-active-link asp-area="Admin" asp-controller="Orders" asp-action="Index">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i> Поръчки
                </a>
            </li>
            <li class="nav-item" asp-is-active-link asp-controller="Products">
                <a class="nav-link" asp-area="Admin" asp-controller="Products" asp-action="Index">
                    <i class="fa fa-birthday-cake" aria-hidden="true"></i> Продукти
                </a>
            </li>
            <li class="nav-item" asp-is-active-link asp-controller="BlogPosts">
                <a class="nav-link" asp-area="Admin" asp-controller="BlogPosts" asp-action="Index">
                    <i class="fa fa-address-card" aria-hidden="true"></i> Блог
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fa fa-sitemap" aria-hidden="true"></i> Към сайта
                </a>
            </li>
            <li class="nav-item">
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                    <div class="nav-item text-center">
                        <button title="Изход" type="submit" class="btn btn-link navbar-btn nav-link d-inline-block fa fa-sign-out fa-2x"></button>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</nav>