/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 42px;
  text-align: center;
}
.text-center {
  text-align: center;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
.button {
  display: block;
  padding: 10px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #382b27;
}
.button:hover {
  background: #433632;
  transition: .25s;
}
header {
  display: flex;
  background: url('../resources/images/navBg.png') #382b27;
  background-size: cover;
}
header .nav {
  display: flex;
  flex: 1;
  font-weight: bold;
}
header .nav .nav-link {
  flex: 1;
  list-style-type: none;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
header .nav .nav-link a {
  display: block;
  text-decoration: none;
  color: white;
  line-height: 50px;
}
header .nav .nav-link:hover,
header .nav .nav-link.active {
  -webkit-box-shadow: inset 0px -10px 0px 0px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0px -10px 0px 0px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px -10px 0px 0px rgba(255, 255, 255, 0.15);
  transition: .25s;
}
header .nav .user-controls {
  text-align: center;
  width: 52px;
}
header .nav .user-controls a {
  display: flex;
  padding: 0 0 4px 0;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
}
header .nav .user-controls a:hover {
  -webkit-box-shadow: inset 0px -10px 0px 0px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0px -10px 0px 0px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px -10px 0px 0px rgba(255, 255, 255, 0.15);
  transition: .25s;
}
header .nav .user-controls a .fa {
  font-size: 24px;
}
/* Teaser section START */
.teaser {
  background: url('../resources/images/teaserBg.png') #ead4c2;
  height: 500px;
  animation: animatedBackground 120s linear infinite;
}
.teaser .teaser-products {
  display: block;
  padding: 18px 0;
  box-sizing: border-box;
  background-size: 50%;
}
.teaser .teaser-products .row {
  display: flex;
  justify-content: center;
}
.teaser .teaser-products .row:nth-child(2) {
  margin-top: -120px;
}
.teaser .teaser-products .row .product {
  position: relative;
}
.teaser .teaser-products .row .product .product-preview {
  display: none;
  position: absolute;
  top: -20px;
  left: -20px;
  padding: 20px;
  background: url('../resources/images/teaserProductBg.png') #d94854;
  box-shadow: 0px 0px 25px -5px #000, inset 0px 0px 0px 10px rgba(255, 255, 255, 0.15);
  z-index: 10;
  cursor: pointer;
  animation: fadeInFromNone 0.5s ease-out;
  border-radius: 10px;
}
.teaser .teaser-products .row .product .product-preview h3,
.teaser .teaser-products .row .product .product-preview p {
  font-size: 24px;
  text-align: center;
  color: white;
}
.teaser .teaser-products .row .product .product-preview p {
  font-size: 14px;
}
.teaser .teaser-products .row .product.hovered .product-preview {
  display: block;
}
.teaser .teaser-products .row .product.hovered .product-preview a:nth-of-type(1) {
  margin: 10px 0 5px 0;
}
/* Teaser section END */
/* About section START */
.about {
  margin-top: 30px;
}
.about p {
  text-align: center;
}
/* About section END */
/* Blogpost section START */
/* Blogpost section END */
@keyframes fadeInFromNone {
  0% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100% 0;
  }
}
