@model CreateQuoteViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h2>Заявка за торта</h2>
</div>

<form asp-area="" asp-controller="Quote" asp-action="Create" asp-antiforgery="true" method="post" role="form">
    <div>
        <label asp-for="Description">Description</label>
        <textarea asp-for="Description"></textarea>
    </div>
    <div>
        <input class="image-updater" data-target="#image-container" type="file" multiple="multiple" name="images" />
        <div id="image-container"></div>
    </div>
</form>
